{% extends 'base.html' %}
{% block title %}
Tag: {{ tag }}
{% block header_link %}
#
{% endblock %}

{% block header_name %}
Articles for {{ tag }}
{% endblock %}

{% endblock %}
{% block content %}
           {% for article in tag_article_list %}
                    <section class="post page1">
                    <div class="title">
							<h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
                            <p>
                            <span class="meta-time">{{ article.publish_date|date:"F jS, Y" }}</span>
                            </p>
                    </div>
                    <div class="content">
                            {{ article.summary_html|safe }}
							<div class="clear"></div>
							<p></p>
							<div class="meta-tag">
									Tag:
									{% for tag in article.tags.split %}
									<a href="/blog/tags/{{ tag }}/">{{ tag }}</a>
									{% endfor %}
							</div>
                    </div>
                    </section>
		   {% endfor %}
{% endblock %}
