<html>
        <head>
                <title>
                        {% block title %}
                            Ragnarok
                        {% endblock %}
                </title>
                <link href="/feed" rel="alternate" title="http://ragnarokstack.me" type="application/atom+xml">
                <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
                
                <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
                <link type="text/css" rel="stylesheet" href="/css/autumn.css" media="all"/>
                <script type="text/javascript" src="/css/shBrushPython.js"></script>
                <script type="text/javascript" src="/css/shBrushJava.js"></script>

                    <!-- Include *at least* the core style and default theme -->
                    <link href="/css/shCore.css" rel="stylesheet" type="text/css" />
                    <link href="/css/shThemeFadeToGrey.css" rel="stylesheet" type="text/css" />

                    <!-- Finally, to actually run the highlighter, you need to include this JS on your page -->
                    <script type="text/javascript">
                            SyntaxHighlighter.all()
        </script>



        </head>
        <body class="home blog">
                <header id="header">
                <h1><a href="{% block header_link %}/{% endblock %}">{% block header_name %}Ragnarok{% endblock %}</a></h1>
                <aside id="toolBox">
                <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="https://github.com/ragnraok">Code</a></li>
                        <li><a href="/admin">Admin</a></li>
                </ul>
                </aside>
                </header>
                <!-- article start -->
                <article id="main">
                    {% block content %}
                    <!-- article content -->
                    {% endblock %}
                    <div class="clear"></div>
                    {% if is_paginated %}
                    <div id="pagenavi">
                            <ol class="page-navigator">
                                    {% for p in page_range %}
                                    <li class="current"><a href="?page={{ p }}">{{ p }}</a></li>
                                    {% endfor %}
                            </ol>
                    </div>
                    {% endif %}
                    <div id="sidebar">
                            <div class="widget" id="known">		
                                    <p></p>
                            </div>
                            <div class="widget" id="rss">		
                                    <ul>
                                            <li></li>
                                            <li></li>
                                    </ul>
                            </div>		
                    </div><!-- end #sidebar -->
                </article>
                <!-- article end -->
                <footer id="footer">
                <div class = "text_right">
                        <div class="CRight">Copyright By Ragnarok</div>
                </div>
                </footer>
        </body>
</html>

